<div class="col-lg-4 col-md-6 mb-4">
  <div class="card h-100">
    <% if listing.pictures.first %>
      <center style="padding-top: 5px;">
        <%= link_to image_tag(listing.pictures.first.image.url(:thumb)),
                    listing_path(listing), target: '_blank', :class => 'thumbnail'  %>
      </center>
      <% end %>
    <div class="card-body">
      <h4 class="card-title">
        <%= link_to listing.title, listing %>
      </h4>
      <h5><%= humanized_money_with_symbol listing.price %> </h5>
      <p class="card-text"><%= listing.description %></p>
      <p class="card-text">
        <%= link_to "See more in #{Category.find(listing.category_id).name.titleize}", listings_path(category_id: listing.category_id) %>
      </p>
    </div>
  </div>
</div>
