<div class="col-lg-4 col-md-6 mb-4">
  <div class="card h-100">
    <% if listing.pictures.first %>
        <% imgtag = image_tag(listing.pictures.first.image.url(:thumb)) %>
        <% else %>
        <% imgtag = image_tag(Picture.no_image.image.url(:thumb)) %>
        <% end %>

      <center style='padding-top: 5px;'>
        <%= link_to imgtag, listing_path(listing), target: '_blank', :class => 'thumbnail'  %>
      </center>
    <!--% else %>-->
        <!--%= link_to image_tag(Picture.last.image.url(:thumb)), listings_path(controller.send(:redirect_params,params)), :class => 'thumbnail', :style => 'width: 100%; height: auto;' %>-->
    <!--% end %>-->
    <div class="card-body">
      <h4 class="card-title">
        <%= link_to listing.title, listing %>
      </h4>
      <h5><%= humanized_money_with_symbol listing.price %> </h5>
      <p class="card-text"><%= listing.description %></p>
      <p class="card-text">
        See more in category:
        <%= link_to "#{listing.category.name.titleize}", listings_path(category_id: listing.category_id) %>
        <br> See more by poster:
        <%= link_to listing.user.name, listings_path(user_id: listing.user.id) %>
        <% if listing.tags.exists? %>
        <br> See more with tags:
        <!-- <%= link_to "See more by tags: #{listing.all_tags}", listings_path(category_id: listing.category_id) %> -->
        <%= link_tags(listing.tags) %>
        <% end %>
        <% if can? :update, listing %>
            <br>
            <%= link_to 'Edit', edit_listing_path(listing), class: 'btn btn-success' %>
            <%= link_to 'Delete', listing, :method => :delete, class: 'btn btn-success',
                            data: { confirm: "Delete listing:  #{listing.title}?"} %>
        <% end %>
      </p>
    </div>
  </div>
</div>
