<h1><%= index_welcome(params) %>
  <div class="dropdown">
    <br>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expaneded="false">
      <%= current_user.listing_view_type.titleize %>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <%= link_to('Grid', { :controller => :listings, :action => :grid, :params => params }, class: 'dropdown-item') %>
      <%= link_to('List', { :controller => :listings, :action => :list, :params => params }, class: 'dropdown-item') %>
    </div>
  </div>
</h1>
<br>

<% if current_user.listing_view_type == 'list' %>
<table class='table'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Seller</th>
      <th>Location</th>
      <th>Description</th>
      <th>Tags</th>
      <th>Price</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= link_to listing.title, listing %></td>
        <td><%= link_to listing.user.name, listings_path(user_id: listing.user_id) %></td>
        <td><%= listing.location %></td>
        <td><%= listing.description %></td>
        <td><%= link_tags(listing.tags) %></td>
        <td><%= humanized_money_with_symbol listing.price %></td>
        <% if can? :update, listing %>
            <td><%= link_to 'Edit', edit_listing_path(listing), class: 'btn btn-success' %></td>
            <td><%= link_to 'Delete', listing, :method => :delete, class: 'btn btn-success',
                            data: { confirm: "Delete listing:  #{listing.title}?"} %></td>
        <% else %>
        <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

  <% else %>

  <div class="row">
    <% @listings.each do |listing| %>
    <%= render listing %>
    <% end %>
  </div>

  <% end %>
