<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ShowPage</title>
  </head>

  <body>

    <!-- Page Content -->
    <div class="container">
      <%= flash[:notice] %>
       <!-- Portfolio Item Heading -->
      <h1 class="my-4">
        <%= @listing.title %>
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <% if @listing.pictures.first %>
           <%= image_tag @listing.pictures.first.image.url(:big), :class => 'img-fluid' %>
          <% end %>
        </div>

        <div class="col-md-4">
          <h2 class="my-3"><b>Item Description</b></h2>
           <h4> <%= @listing.description %> </h4>
           <br>
           <br>
           <br>
           <br>
          <div class="category"> <h2>Category: <%= @listing.category.name %> </h2></div>
          <div class="tags"> <h2> Tags: <%= link_tags(@listing.tags) if @listing.tags.exists? %> </h2></div>
			    <div class="price"> <h2> Price: <%= humanized_money_with_symbol @listing.price %></h2></div>
			    <br>

            <div class="col-md-10" style="padding-left: 0px">
              <div class="btn-toolbar" style="padding-right: 5px">
               <button id="myBtn" type="button" class="btn btn-primary btn-lg">Contact Seller</button>
                <button id="myBtn2" type="button" class="btn btn-primary btn-lg">View Location</button>
              </div>
            </div>
          <% if can? :update, @listing %>
            <div class="col-md-10" style="padding-top: 5px; padding-left: 0px">
              <div class="btn-toolbar" style="padding-right: 5px">

                  <%= link_to 'Edit', edit_listing_path(@listing), class: 'btn btn-primary btn-lg' %>
                <%= link_to 'Delete', @listing, :method => :delete, class: 'btn btn-primary btn-lg',
                                data: { confirm: "Delete listing:  #{@listing.title}?"} %>
            </div>
            </div>
              <% end %>

        </div> <!-- col-md-4 -->

      </div> <!-- /.row -->
      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h1>Contact Listing Owner</h1>
            <span class="close">&times;</span>
            <h2></h2>
          </div>
          <div class="modal-body">
            <h3>Name: <%= @listing.user.name %> </h3>
            <h3>Email: <%= @listing.user.email %> </h3>
            <h3>Phone: <%= @listing.user.phone_number %></h3>
      <%= mail_to @listing.user.email, subject: "UNO Classified listing:  #{@listing.title}", body: email_body(@listing) do %>
      <button> Send email</button>
      <% end %>
          </div>
          <div class="modal-footer">
            <h3></h3>
          </div>

          <script>
          // Get the modal
          var modal = document.getElementById('myModal');

          // Get the button that opens the modal
          var btn = document.getElementById("myBtn");

          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close")[0];

          // When the user clicks the button, open the modal
          btn.onclick = function() {
              modal.style.display = "block";
          };

          // When the user clicks on <span> (x), close the modal
          span.onclick = function() {
              modal.style.display = "none";
          };

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
              if (event.target == modal) {
                  modal.style.display = "none";
              }
          }
          </script>
        </div>

      </div>

      <div id="myModal2" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h1>Item Location</h1>
            <span class="close2">&times;</span>
            <h2></h2>
          </div>
          <div class="modal-body">
            <%= image_tag google_map(@listing.location) %>
          </div>
          <div class="modal-footer">
            <h3></h3>
          </div>

          <script>
          // Get the modal
          var modal2 = document.getElementById('myModal2');

          // Get the button that opens the modal
          var btn2 = document.getElementById("myBtn2");

          // Get the <span> element that closes the modal
          var span2 = document.getElementsByClassName("close2")[0];

          // When the user clicks the button, open the modal
          btn2.onclick = function() {
              modal2.style.display = "block";
          };

          // When the user clicks on <span> (x), close the modal
          span2.onclick = function() {
              modal2.style.display = "none";
          };

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
              if (event.target == modal) {
                  modal2.style.display = "none";
              }
          }
          </script>
        </div>

      </div>

      <!-- Related Projects Row -->
      <% if @listing.pictures.count > 1 %>
      <h3 class="my-4">More Images</h3>

      <div class="row">
        <% @listing.pictures.drop(1).each do |pic| %>
        <div class="col-md-3 col-sm-6 mb-4">
          <%= image_tag pic.image.url(:medium), :class => 'img-fluid' %>
        </div>
        <% end %>
      </div>
      <% end %>
      <!-- /.row -->

    </div>
    <!-- /.container -->
  </body>

</html>
