<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @listing.owner %>
</p>

<p>
  <strong>Pictures:</strong>
  
  <div class="row">
    <ul class="thumbnails files">
      <% unless @pictures.empty? %>
          <% @pictures.each do |pic| %>
              <li class="span3" id="picture_<%= pic.id %>">
                <div class="thumbnail">
                  <%= image_tag pic.image.url %>
                  <div class="caption">
                    <p style="text-align: center;">
                      <%= link_to "Delete picture", pic, method: :delete, data: { confirm: 'Ok??'} %>
                    </p>
                  </div>
                </div>
              </li>
          <% end %>
      <% end %>
    </ul>
  </div>
</p>

<p>
  <strong>Tags:</strong>
  <%= @listing.tags %>
</p>

<p>
  <strong>Location:</strong>
  <%= @listing.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
