<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-color fixed-top">
  <div class="container">
    <div class="navbar-brand nav-bar">
      <%= link_to image_tag('uno_logo.png', size: '40x40', class: 'd-inline-block align-top'), root_path, :class => 'a-blank' %>
      &nbsp;<%= link_to 'UNO CLASSIFIEDS', root_path, class: 'brand-text' %>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">

    <% logger.debug "In nav view - current_name: #{controller_name}" %>
    <% logger.debug "In nav view - action_name: #{action_name}" %>
      <% if user_signed_in? && (action_name != 'new') %>
        <ul class="nav-item">
          <%= form_tag listings_path, method: :get, :class => 'form-inline my-2 my-lg-0 mr-lg-2' do |_| %>
              <div class="input-group">

              <%= text_field_tag :search, params[:search], class: 'form-control search-bar' %>
              <%= button_tag type: 'submit' , class: 'btn btn-primary search-btn' do  %>
                  <i class="glyphicon glyphicon glyphicon-search"></i>
                  <% end %>
              </div>
          <% end %>
        </ul>
    <% end %>
      <div id="advanceSearch" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h1>Please Select all the Field Below:</h1>
            <span class="ui-icon-circle-close close-search">x</span>
            <h2></h2>
          </div>
          <div class="new_listing advance-search-height">
            <div>
              <form>
                <div class="form-group col-xs-12">
                  <label for="sel1">Category</label>
                  <select class="form-control" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                  <br>
                  <label for="sel2">Tags</label>
                  <select class="form-control" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                  <br>
                  <label for="sel3">Name</label>
                  <input type="text" class="form-control" placeholder="Last name">
                  <br>
                  <label for="sel4">Others</label>
                  <input type="text" class="form-control" placeholder="Last name">
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn btn-primary" data-dismiss="modal">Search</button>
            <h3></h3>
          </div>

          <script>
              // Get the modal
              var modal = document.getElementById('advanceSearch');

              // Get the button that opens the modal
              var search = document.getElementById("searchBtn");

              // Get the <span> element that closes the modal
              var span = document.getElementsByClassName("ui-icon-circle-close")[0];

              // When the user clicks the button, open the modal
              search.onclick = function() {
                  modal.style.display = "block";
              };

              // When the user clicks on <span> (x), close the modal
              span.onclick = function() {
                  modal.style.display = "none";
              };

              // When the user clicks anywhere outside of the modal, close it
              window.onclick = function(event) {
                  if (event.target == modal) {
                      modal.style.display = "none";
                  }
              }
          </script>
        </div>

      </div>


      <ul class="navbar-nav ml-auto nav-align">
        <% if current_user %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;Listings
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to('View All', listings_path, class: 'dropdown-item') %>
                <%= link_to('Create New', new_listing_path, class: 'dropdown-item') %>
                <%= link_to('My listings', listings_list_path(user_id: current_user.id), class:'dropdown-item') %>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;<%= current_user.name %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to('My Account', edit_user_registration_path, class: 'dropdown-item') %>
                <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item') %>
              </div>
            </li>
            <li class="nav-item" >
            <%= link_to root_path, class: 'nav-link home-button' do  %>
                <i class="glyphicon glyphicon-home" ></i> Home
            <% end %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<br><br><br>
